*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}
.form-employee{
    padding: 2.5rem 0 2rem 0;
}
.form-employee ul{
    list-style:none;
    padding:0;
    margin:0;	
}
ul li{
    display: flex;
}	
.first-name,
.last-name{
    display: block;
    padding: 9px;
    border:1px solid #DDDDDD;
    margin-bottom: 30px;
    border-radius: 3px;
    width: 100%;
    margin: 0 10px;
}

.form-employee span{
    display: block;
    padding: 9px;
    border:1px solid #9900ff75;
    margin-bottom: 30px;
    border-radius: 3px;
    width: 100%;
    margin: 10px;
}
.form-employee span > label{
    display: block;
    float: left;
    margin-top: -19px;
    background: #FFFFFF;
    height: 100%;
    padding: 1px 5px 2px 5px;
    color: #9900ff75;
    font-size: 14px;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.form-employee input[type="text"],
.form-employee input[type="date"],
.form-employee input[type="datetime"],
.form-employee input[type="email"],
.form-employee input[type="number"],
.form-employee input[type="search"],
.form-employee input[type="time"],
.form-employee input[type="url"],
.form-employee input[type="password"],
.form-employee textarea,
.form-employee select 
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    height: 25px;
    line-height: 25px;
    font-size: 14px;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.form-employee li input[type="submit"]{
    right: 0;
    align-self: flex-end;
    width: 100%;
    font-size: 16px;
    padding: 6px 30px;
    margin: .5rem;
    font-family: "Poppins", sans-serif;
    background-color: #9900ff;
    color: #FFFFFF;
    border: none;
    border-radius: 5px;
}

.form-employee li input[type="submit"]:hover{
    background-color: #9900ffaf;
}

option:nth-child(1) {
    display: none;
}

select{
    color: #9900ff;
    line-height: 3em !important;
}




/* testing */
.spacer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
}
.spacers{
    width: 100%;
}

.submit-button{
    padding: 1rem 1.2rem 0 0;
}
