*{
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}

body{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
}

.navbar{
    display: flex;
    position: fixed;
    justify-content: space-between;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    background-color: #9900ff;
    /* background-color: rgba(59, 130, 246); */
    color: #ffffff;
    box-shadow: 0px 2px 5px rgb(102, 0, 170);
    z-index: 2;
    padding-left: 4.5rem;
    align-items: center;
}

.navbar > h4{
    font-size: 22px;
    text-transform: uppercase;
    font-weight: 900;
}

.profile{
    display: flex;
    width: 32%;
    max-width: 200px;
    justify-content: space-around;
    align-items: center;
    margin-right: 1.6em;
}

.profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.profile-name{
    font-size: 0.9rem;
    margin-left: -20px;
    text-transform: capitalize;
    cursor:se-resize;
}

.fa-search{
    cursor: pointer;
}

.side-toggle{
    position: fixed;
    z-index: 2;
    top: .6em;
    left: 1.3em;
    float: right;
    font-size: 20px;
    cursor: pointer;
    color: #ffffff;
}

.sidebar{
    position: fixed;
    height: 100%;
    width: 200px;
    left: 0;
    top: 55px;
    padding: 10px 0 20px 0;
    color: #fff;
    background-color: #2e2e2e;
    /* box-shadow: 2px 0 5px rgba(0, 0, 0.5); */
    overflow: auto;
    transition: all 0.3s ease-in-out;
}

.sidebar-menu{
    display: flex;
    padding: 10px 1.5em;
    width: 100%;
    cursor: pointer;
    font-size: 15px;
    color: #fff;
}

.sidebar-menu > span{
    font-size: 20px;
    padding-right: 1rem
}

.sidebar-menu:hover{
    color: #9900ff;
    font-weight: 800;
    background-color: rgb(255, 255, 255);
    /* background-color: rgba(59, 130, 246); */
    border: none;
    border-radius: 25px 0 0 25px;
}

#toggle:checked ~ .sidebar{
    width: 70px;
    transition: all 0.3s ease-in-out;
}

#toggle:checked ~ .sidebar .sidebar-menu > p{
    transition: all 0.8s ease-out;
    display: none;
}

.sidebar::-webkit-scrollbar {
    width: 5px;
    height: 8px;
    background-color: #fff;
}

.sidebar::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #9900ff75;
}

main{
    min-height: 100%;
    padding: 4rem 1rem 2rem 13.5rem;
    transition: all 0.3s ease-in-out;
}

.dashboard-container{
    display: grid;
    grid-template-columns: 1fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
    grid-template-rows: auto;
    gap: 1rem;
    grid-template-areas: 
    'total1 total2 total2 total3 total3 total4 total4'
    'employee employee employee employee employee new-employee new-employee'
    'client client client client client customer customer';
}

.total{
    background-color: #fff;
    color: #9900ff;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
    transition: all 0.3s ease-in-out;
}

.employee
{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
}

.customer{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
}

.new-employee{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
}
.client{
    background-color: #fff;
    padding: 1rem;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgb(180, 180, 180);
}

.total1{
    grid-area: total1;
}

.total2{
    grid-area: total2;
}

.total3{
    grid-area: total3;
}

.total4{
    grid-area: total4;
}

.employee
{
    grid-area: employee;
    overflow-x: auto;
}

.new-employee{
    grid-area: new-employee;
    overflow-y: auto;
}

.client{
    grid-area: client;
    overflow-x: auto;
}

.customer{
    grid-area: customer;
    overflow-y: auto;
}

#toggle:checked ~ main{
    padding: 4rem 2rem 2rem 6rem;
    transition: all 0.3s ease-in-out;
}

.info{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
}

.info-image i{
    font-size: 40px;
}

.total:hover{
    background-color: #9900ff;
    color: #ffffff;
    transition: all 0.3s ease-in-out;
}

.employee-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 0 0 1rem 0;
}

.employee-header > p{
    font-size: 18px;
    font-weight: 600;
}

.employee-header button{
    height: 30px;
    width: 120px;
    border: solid 1px #9900ffaf;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.employee-header button:hover{
    background-color: #ffffff;
    color: #9900ff;
    transition: all 0.3s ease-in-out;
}

.employee table{
    width: 100%;
    border-collapse: collapse;
}

.employee table tr{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.employee table th{
    background-color: #9900ffce;
    color: #fff;

}

.employee table tr:nth-child(odd){
    background-color: #9900ff11;
}

.employee table th,
.employee table td{
    padding: 0.8rem;
    text-align: left;
    font-size: 14px;    
}

.employee table th:nth-child(1),
.employee table td:nth-child(1){
    min-width: 50px; 
}

.employee table th:nth-child(2),
.employee table td:nth-child(2){
    min-width: 200px;
}

.employee table th:nth-child(3),
.employee table td:nth-child(3){
    min-width: 230px; 
}

.employee table th:nth-child(4),
.employee table td:nth-child(4){
    min-width: 200px; 
}

.employee table tr:hover{
    background-color: #9900ff75;
    color: #fff;
}

.employee::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.employee::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #9900ff75;
}

::-webkit-scrollbar {
    background-color: #9900ff2d;
    width: 15px;
    height: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #9900ff75;
}

.customer-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-auto-flow: column;
    margin: 10px 0;
    min-width: 150px;
    align-items: center;
    gap: 5px;
}

.customer-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.customer > p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.customer-name > p{
    font-size: 0.9rem;
}


.new-employee-wrapper{
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    grid-auto-flow: column;
    margin: 10px 0;
    min-width: 150px;
    align-items: center;
    gap: 5px;
}

.new-employee-image{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.new-employee > p{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 25px;
}

.new-employee-name > p{
    font-size: 0.9rem;
}

.client-header{
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
    color: #000;
    padding: 0 0 1rem 0;
}

.client-header > p{
    font-size: 18px;
    font-weight: 600;
}

.client-header button{
    height: 30px;
    width: 120px;
    border: solid 1px #9900ffaf;
    background-color: #9900ff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.client-header button:hover{
    background-color: #ffffff;
    color: #9900ff;
    transition: all 0.3s ease-in-out;
}

.client table{
    width: 100%;
    border-collapse: collapse;
}

.client table tr{
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.11);
}

.client table th{
    background-color: #9900ffce;
    color: #fff;

}

.client table tr:nth-child(odd){
    background-color: #9900ff11;
}

.client table th,
.client table td{
    padding: 0.8rem;
    text-align: left;
    font-size: 14px;    
}

.client table th:nth-child(1),
.client table td:nth-child(1){
    min-width: 50px; 
}

.client table th:nth-child(2),
.client
 table td:nth-child(2){
    min-width: 200px;
}

.client table th:nth-child(3),
.client table td:nth-child(3){
    min-width: 230px; 
}

.client table th:nth-child(4),
.client table td:nth-child(4){
    min-width: 200px; 
}

.client table tr:hover{
    background-color: #9900ff75;
    color: #fff;
}

.client::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

.client::-webkit-scrollbar-thumb {
    border-radius: 100px;
    background-color: #9900ff75;
}

@media screen and (max-width: 980px) {
    .dashboard-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas: 
        'total1 total2'
        'total3 total4'
        'new-employee customer'
        'employee employee'
        'client client';
    }
    .sidebar .sidebar-menu > span{
        font-size: .8rem;
    }
    .sidebar .sidebar-menu > p{
        display: block;
        font-size: .8rem;
    }
    main{
        padding-top: 4rem;
    }
    #toggle:checked ~ main{
        padding: 4rem 2rem 2rem 6rem;
    }
}

@media screen and (max-width: 600px){
    .dashboard-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 1rem;
        grid-template-areas: 
        'total1 total1'
        'total2 total2'
        'total3 total3'
        'total4 total4'
        'new-employee customer'
        'employee employee'
        'client client';
    }
    .profile-name{
        display: none;
    }
    .sidebar{
        display: none;
        padding: 0;
    }
    main{
        max-width: 100%;
        padding: 4rem 2rem 2rem 2rem;
    }
    .customer > p{
        font-size: 16px;
    }
    .new-employee > p{
        font-size: 16px;
    }
    #toggle:checked ~ .sidebar{
        display: block;
        width: 200px;
        transition: all 0.3s ease-in-out;
    }
    #toggle:checked ~ .sidebar .sidebar-menu > p{
        display: block;
        font-size: .8rem;
    }
    #toggle:checked ~ .sidebar .sidebar-menu > span{
        font-size: .8rem;
    }
    #toggle:checked ~ main{
        padding: 4rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 400px){
    .dashboard-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 1.5rem;
        grid-template-areas: 
        'total1'
        'total2'
        'total3'
        'total4'
        'new-employee'
        'customer'
        'employee'
        'client';
    }
    .profile-name{
        display: none;
    }
    .sidebar{
        display: none;
        padding: 0;
    }
    main{
        max-width: 100%;
        padding: 4rem 2rem 2rem 2rem;
    }
    #toggle:checked ~ .sidebar{
        display: block;
        width: 200px;
        transition: all 0.3s ease-in-out;
    }
    #toggle:checked ~ .sidebar .sidebar-menu > p{
        display: block;
        font-size: .8rem;
    }
    #toggle:checked ~ .sidebar .sidebar-menu > span{
        font-size: .8rem;
    }
    #toggle:checked ~ main{
        padding: 4rem 2rem 2rem 2rem;
    }
}

@media screen and (max-width: 350px){
    .navbar > h4{
        font-size: 18px;
        text-transform: uppercase;
        font-weight: 900;
    }
    .employee > .employee-header{
        display: inline;
        max-width: 100%;
    }
    .employee .employee-header > p{
       max-width: 100%;
       margin-bottom: 5px;
    }
    .employee .employee-header > button{
        max-width: 100%;
        margin-bottom: 5px;
     }
     .client > .client-header{
        display: inline;
        max-width: 100%;
    }
    .client .client-header > p{
       max-width: 100%;
       margin-bottom: 5px;
    }
    .client .client-header > button{
        max-width: 100%;
        margin-bottom: 5px;
     }
}

@media screen and (max-width: 300px){
    .navbar > h4{
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 900;
        margin-left:-15px;
    }
}